body {
  background-color: #2f2f2f;
}

form {
  margin: 2rem 0 5rem;
  background-color: #cecece;
  padding: 1rem;
  border-radius: 8px;
}

form:nth-child(6) h1,
form:nth-child(7) h1 {
  color: #f00;
}